/* Layout */

html,
body,
#app {
    height: 100%;
    width: 100%;
}


.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.container-center {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.grid-variable {
    display: grid;
    grid-gap: var(--pico-spacing);
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.text-center {
    text-align: center;
}

.pad {
    padding: var(--pico-spacing);
}

.spaced>*:not(:last-child) {
    margin-right: var(--pico-spacing);
}

.vspaced>*:not(:last-child) {
    margin-bottom: var(--pico-block-spacing-vertical);
}

.disabled {
    opacity: 0.5;
}

/* Style */

.toast {
    padding: var(--pico-spacing);
    border-radius: var(--pico-border-radius);
}

.toast-info {
    background-color: var(--pico-info-background-color);
    color: var(--pico-info-color);
}

.red {
    color: var(--pico-color-red-600);
}

.muted {
    color: var(--pico-muted-color);
}

input[type="number"] {
    text-align: right;
}

/* Tooltips */

.tippy-box[data-theme~='halbu'] {
    background-color: var(--pico-background-color);
    color: var(--text-muted);
    border-radius: 6px;
    border: var(--pico-border-width) solid var(--pico-contrast);
    font-weight: normal;
    font-size: medium;
    padding: 12px;
    text-align: center;
    line-height: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
}

.tippy-box[data-theme~='halbu'] #skillTitle,
#synTitle {
    font-weight: bold;
    color: green;
}

.tippy-box[data-theme~='halbu'] p#levelreq {
    font-weight: bold;
    text-align: center;
}