
.row {
    display:flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

:root{
    --col-size: 100px;
    --panel: rgb(68, 84, 101);
}

.halbu-tooltip {
    /* Overrides for svelte-tooltip css */
    --tooltip-background-color: var(--background-alt);
    --tooltip-border-radius: 6px;
    --tooltip-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
    --tooltip-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
    --tooltip-font-size: 1em;
    --tooltip-font-weight: 500;
    --tooltip-line-height: 1.4;
    --tooltip-color: var(--text-main)
    --tooltip-offset-x: 12px;
    --tooltip-offset-y: 12px;
    --tooltip-padding: 12px;
    --tooltip-z-index: 100;
    --tooltip-arrow-size: 10px;
}

.grid {
    display: grid;
    grid-gap: 10px;
}

.grid-1{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.grid-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.grid-6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.grid-7{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.grid-8{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
}

.grid-9{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
}


:global(svg) {
    width: 1rem;
}

.icon-btn {
    align-items: center;
    display: inline-flex;
}

#app {
    width:100%;
    height:100%;
}

svg {
    vertical-align:sub;
}

.apart {
    align-items:start;
    justify-content: space-between;
}

.spaced > *:not(:last-child) {
    margin-right: 20px; 
}

.vspaced > *:not(:last-child) {
    margin-bottom: 20px; 
}

input[type="number"]{
    text-align: right;
}   

.invalid {
    background-color: #271616;
}