html, body, #app {
    height:100%;
    width:100%;
}

html {
    overflow-y: scroll;
}
.row {
    display:flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.full-height {
    height:100%;
}

.full-width{
    width:100%;
}


.flex-center {
    align-items: center;
    justify-content: center;
}

:root{
    --col-size: 100px;
    --transparent: rgba(255, 255, 255,  0.15);
}

.disabled{
    opacity: 0.5;
}

.tippy-box[data-theme~='halbu'] {
    background-color: var(--pico-background-color);
    color: var(--text-muted);
    border-radius: 6px;
    border:var(--pico-border-width) solid var(--pico-contrast);
    font-weight:normal;
    font-size:medium;
    padding: 12px;
    text-align:center;
    line-height: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  }

.tippy-box[data-theme~='halbu'] #skillTitle, #synTitle {
    font-weight: bold;
    color:green;
}

.tippy-box[data-theme~='halbu'] p#levelreq{
    font-weight:bold;
    text-align:center;
}
.icon-btn {
    align-items: center;
    display: inline-flex;
}


.spaced > *:not(:last-child) {
    margin-right: 1%;
}

.vspaced > *:not(:last-child) {
    margin-bottom: var(--pico-block-spacing-vertical);
}

input[type="number"]{
    text-align: right;
}   
