
.row {
    display:flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    align-items: center;
}

:root{
    --col-size: 100px;
}


.grid {
    display: grid;
    grid-gap: 10px;
}

.grid-1{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-3-fixed{
    display: grid;
    grid-template-columns: repeat(3, var(--col-size));
    grid-gap: 10px;
}

.grid-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.grid-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.grid-6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.grid-7{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.grid-8{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
}

.grid-9{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
}


:global(svg) {
    width: 1rem;
}

.icon-btn {
    align-items: center;
    display: inline-flex;
}

#app {
    width:100%;
    height:100%;
}

svg {
    vertical-align:sub;
}

.apart {
    align-items:start;
    justify-content: space-between;
}
.spaced > *:not(:last-child) {
    margin-right: 1em; 
} 

input[type="number"]{
    text-align: right;
}   

.invalid {
    background-color: #271616;
}
