body {
    background-color: var(--black);
    color: var(--light-beige);
    font-family: monospace;
}

.col {
    display: flex;
    flex-direction: column;
    ;
}

.row {
    display: flex;
    flex-direction: row;
}

:global(svg) {
    width: 1rem;
}

.icon-btn {
    align-items: center;
    display: inline-flex;
}

button {
    border-radius: 0.5em;
    padding: 0.5em;
}

.margin {
    margin: 1em;
}

.flex-center {
    justify-content: center;
    text-align: center;
    align-items: center;
}

#app {
    width:100%;
    height:100%;
}